body {
    background: #121212;
    color: white;
}

.hero {

    min-height: 100vh;

    display: flex;

    align-items: center;
}

.tool-card {

    background: #1f1f1f;

    padding: 28px;

    border-radius: 18px;

    box-shadow: 0 0 20px rgba(0, 0, 0, .35);

    transition: .25s;
}

.tool-card:hover {

    transform: translateY(-6px);

    box-shadow: 0 0 30px rgba(13, 110, 253, .3);
}

.disabled-card {

    opacity: .65;
}