body {
    background: #121212;
    color: white;
}

.hero {

    min-height: 100vh;

    display: flex;

    align-items: center;
}

.tool-card {

    background: #1f1f1f;

    padding: 28px;

    border-radius: 18px;

    box-shadow: 0 0 20px rgba(0, 0, 0, .35);

    transition: .25s;
}

.tool-card:hover {

    transform: translateY(-6px);

    box-shadow: 0 0 30px rgba(13, 110, 253, .3);
}

.disabled-card {

    opacity: .65;
}

/* ---------- TOOL BUTTONS ---------- */

.tool-btn {

    color: #fff;

    border: none;

    font-weight: 700;

    transition: .18s;

    min-width: 140px;
}

.tool-btn:hover {

    transform: translateY(-2px);

    color: #fff;
}

/* CSV */

.btn-csv {

    background: #00B894;
}

.btn-csv:hover {

    background: #00A382;
}

/* MD5 */

.btn-md5 {

    background: #6C5CE7;
}

.btn-md5:hover {

    background: #5848d6;
}

/* 2FA */

.btn-2fa {

    background: #E17055;
}

.btn-2fa:hover {

    background: #cf5e44;
}

/* CASE */

.btn-case {

    background: #0984E3;
}

.btn-case:hover {

    background: #0673c9;
}

/* SQL */

.btn-sql {

    background: #F39C12;
}

.btn-sql:hover {

    background: #db8b0c;
}

/* JSON */

.btn-json {

    background: #16A085;
}

.btn-json:hover {

    background: #11856f;
}

/* WORD COUNTER */

.btn-word {

    background: #D63031;
}

.btn-word:hover {

    background: #bb2324;
}

/* BTN COMMENT */

.btn-comment {

    background: #30853a;
}

.btn-comment:hover {

    background: #30853a;
}